// -----------------------------------------------------------------------------
// This file contains all content styles.
// -----------------------------------------------------------------------------

.flex_layouts{
    display: flex;

    .fl-four{
        flex-grow: 4;
    }

    .box-flex{
        .img-flex{
            width: 100%;
            height: 300px;
        }
        .type-one{

        }
        .type-two{

        }
        .type-three{

        }
        .type-four{

        }
    }
}