// -----------------------------------------------------------------------------
// This file contains all header styles.
// -----------------------------------------------------------------------------

.header-shiba{
    .navbar{
        background-color: $orange;
        padding: 15px 0;
        box-shadow: 0 0 10px 2px rgb(8 7 12 / 51%);

        .navbar-brand{
            margin-bottom: -50px;
            padding: 0;
            img{
                width: 100px;
            }
        }

        .navbar-toggler{
            .fa-times{
                display: none;
            }
            .fa-bars{
                color: $dark;
            }

            &[aria-expanded="true"]{
                .fa-times{
                    display: block;
                }
                .fa-bars{
                    display: none;
                }
            }
        }

        .navbar-collapse{
            @include respond-max(md-dekstop) {
                margin-top: 60px;
                border-top: 1px solid $black;
                padding-top: 10px;
            }
            .navbar-nav{
                .nav-item{
                    padding: 10px 0;
                    padding-right: 35px;
                    &:last-child{
                        padding-right: 0;
                    }
                    .nav-link{
                        color: $black;
                        padding: 0;
                        font-size: 16px;
                        position: relative;
                        letter-spacing: 0.03em !important;
                        font-family: "worksans_semibold",sans-serif !important;
                        @include respond-max(sm-tablet) {
                            font-size: 14px;
                        }
                        @include on-event{
                            color: $white !important;
                            &::before{
                                border: unset !important;
                            }
                        }
                    }
                    &.active{
                        .nav-link{
                            &::before{
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                width: 100%;
                                content: "";
                                border: 1px solid $dark;
                            }
                        }
                    }
                }
            }
        }
    }
}