// -----------------------------------------------------------------------------
// This file contains all button styles.
// -----------------------------------------------------------------------------

.btn-shiba{
    box-shadow: unset;
    border: unset;
    text-transform: capitalize;
    letter-spacing: .05em !important;
    font-family: "worksans_semibold", sans-serif !important;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 15px;
    @include respond-max(sm-tablet) {
        font-size: 14px;
    }
}