// -----------------------------------------------------------------------------
// This file contains all component styles.
// -----------------------------------------------------------------------------

.grid_layouts{
    display: grid;
    align-items: center;
}

.bg-grey-shiba{
    background-color: $grey;
}

.bg-dark-shiba{
    background-color: $dark;
}

.container{
    padding-right: 20px !important;
    padding-left: 20px !important;
}